.card {
    display: grid;
}

#commonArea .card {
    width: 19%;
    margin: 1px;
}

.card .cardAction {
    display: none;
}

.card:hover>svg {
    filter: brightness(0.3);
}

.card:hover>img {
    filter: brightness(0.3);
}

.card:hover>.cardAction,
.cardAction:hover {
    display: flex;
    filter: brightness(0.9)
}

.cardAction {
    flex-wrap: wrap-reverse;
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-content: center;
    align-content: center
}

.cardAction img {
    width: 35%;
    margin: 8px
}

.mini-card .cardAction {
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-content: center;
    align-content: center;
}

.mini-card .cardAction img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 2px;
}