* {
    box-sizing: border-box;
}

.card {
    max-width: 150px;
    max-height: 200px;
    min-width: 50px;
    width: 100%;
    margin: 1px;
}

.numeric-value {
    font-size: large;
    font-family: source-code-pro, monospace;
    font-weight: bold;
    fill: black;
    user-select: none,
}

.has-action-buttons {
    position: relative;
    user-select: none;
}

.has-action-buttons>svg,
.has-action-buttons>img {}

.has-action-buttons .action-buttons {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.has-action-buttons:hover>svg,
.has-action-buttons:hover>img {
    filter: brightness(0.3);
}

.has-action-buttons:hover>.action-buttons,
.action-buttons:hover {
    display: flex;
    filter: brightness(1)
}

.action-buttons {
    justify-content: center;
    align-items: center
}

.action-buttons img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.card .action-buttons img {
    width: 35%;
    margin: 8px
}

.mini-card .action-buttons img {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.energy-orb .action-buttons img {
    max-width: 90%;
    max-height: 90%;
}