.card {
    max-width: 150px;
    max-height: 200px;
    min-width: 50px;
    width: 100%;
    margin: 1px;
}

.has-action-buttons {
    display: grid;
    align-items: center;
    justify-items: center;
    user-select: none;
}

.has-action-buttons>svg,
.has-action-buttons>img {
    grid-area: 1/1/2/2
}

.has-action-buttons .action-buttons {
    display: none;
}

.has-action-buttons:hover>svg,
.has-action-buttons:hover>img {
    filter: brightness(0.3);
    grid-area: 1/1/2/2
}

.has-action-buttons:hover>.action-buttons,
.action-buttons:hover {
    display: flex;
    filter: brightness(1)
}

.action-buttons {
    flex-wrap: wrap-reverse;
    height: 100%;
    width: 100%;
    grid-area: 1/1/2/2;
    justify-content: center;
    align-content: center
}

.action-buttons img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.card .action-buttons img {
    width: 35%;
    margin: 8px
}

.mini-card .action-buttons img {
    width: auto;
    margin: 2px;
}

.energy-orb .action-buttons {
    max-width: 90%;
    max-height: 90%;
}